html,
body {
  margin: 0;
  padding: 10px;
  font-family: "Raleway", sans-serif;
}
h3 {
  font-weight: bold;
}
h4 {
  font-size: 1.5rem;
  font-weight: bold;
}
canvas {
  display: block;
  float: left;
  border: 2px #222 solid;
  margin-bottom: 20px;
}
.leftside {
  margin-left: 10px;
  max-height: 600px;
  overflow-y: auto;
  min-width: 770px;
}
.navbar-brand {
  margin-left: 30px; 
}
.rightside {
  min-width: 600px;
}
.tab-pane {
  padding: 10px;
}
.site-name {
  min-width: 150px;
  margin-left: 10px;
}
.motto {
  font-weight: 500;
}
.indented {
  margin-left: 10px;
}
.input-group {
  margin: 10px;
}
a {
  color: black;
}
.btn {
  font-weight: 600;
  margin: 5px;
  margin-right: 0px;
  margin-bottom: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.nav-link {
  font-weight: 600;
  color: black;
}
.equip .input-group-text {
  background: #eee !important;
}
.equipped .input-group-text {
  background: lightgreen !important;
}
.notif-section {
  position: absolute;
  top: 0;
  right: 0;
}
.toast {
  margin-top: 10px;
}
.scoreboard-name {
  font-size: 3rem;
  padding-right: 20px;
}
.scoreboard-score,
.scoreboard-timer {
  font-size: 3rem;
  font-weight: bold;
}

#countdown-timer {
  font-size: 4rem;
  font-weight: bold;
  position: absolute;
  top: 240px;
  left: 300px;
  text-align: center;
}
.competition-bar {
  display: none;
}
.red-team {
  color: #ff644d;
}
.blue-team {
  color: #4d99f7;
}
.blocklyComputeCanvas {
  display: none;
}
